body {
    background-color:#6A8DC2;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10rem;
    margin-right: 10rem;
}

    /*Header Starts here*/
header {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin-left: 11.9rem;
  margin-bottom: -4rem;
}


#demo-text { 
  font-size: 45px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
  border: 5px green;
	color: transparent;
	background-image: url(https://i.postimg.cc/ZqPNJCV8/textbackground.png);
  margin-left: 0rem;
  margin-bottom: -2rem;
  display: inline-block;
  
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  color: white;
  margin-left: 38rem;
  margin-bottom:0.5rem;
  margin-top: -2.0rem;

}
    /*Header End here*/
    /*Navigation Bar Start*/
nav ul {
    list-style-type:none;
    padding:0;
    margin:0.2rem auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
  }


  nav li {
    border:0px solid yellow;
    width:13rem;
    text-align:center;
    margin-bottom:0.5rem;
    display:inline-block;
    padding:0.5rem;
    
   
  }
  
    /*Navigation Bar End*/
    /*article starts*/
    .floatleft {
      float: left;
      border:0px solid red;
      /*TRBL*/
      margin:1 auto;
      margin-bottom:0rem;
      margin-top: -6rem;
      margin-left: -3rem;
      padding: 0rem;
      
      
    }
    
    article {
      width: 30rem;
      height: 9rem;
      border:0px solid red;
      margin: 0 auto;
      margin-top: 5rem;
      margin-bottom: 5rem;
      margin-left: 38rem;
      background-color: #D4E3F9;
      display:block;
      border-radius: 6%;
      padding: 20px;
      float:left;
      
    }
    
    article:after {
        content: "";
        display: table;
        clear: both; 
        
    
    }
    /*article End*/
    /*TBRL- "top""bottom"right"left"*/
    
    
.timelapse img,.gaming img, .greenpi img  {
    padding: 0 0px 0px 0;
    float:left;
    border-radius: 1rem;

}

.description, .gaming1, .greenpi1 {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    width: 37%;
    margin-left:12em;
    margin-top: 1.8em;
    background-color: white;
    opacity: 0.7;
    border-radius: 0.3rem;
}
.wrapper {
  display: flex;
  grid-template-columns: 1fr;
  grid-column: 0;
  gap: 35px;  
  width: 80%;
  margin: 0 auto;
  margin-top: -12rem;
  padding: 2rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
/*Navigation Bar Rising Stars Start*/
.RS h1 {
  border:1px solid yellow;
  width:5.5%;
  margin:-1.5rem auto;
  margin-bottom:2rem;
  background-color:#D4E3F9;
  font-size:20px;
  text-align:center;
  color: black;
}

ul {
  list-style-type: none;
  padding:0rem;
  margin-right:-26em;
  margin-left:26.2rem;
  display:inline-block;
  flex-flow:row nowrap;
  justify-content: center;
  border: 0px solid black;
  
  
}
li {
  border:0px solid blue;
  flex-basis: 10%;
  display:inline-block;
  
   

}

.RS a:hover {
  background-color: red;
  
  
}
/*Navigation Bar Rising Stars End*/
/*Copyrights starts*/
.copyrights {
  text-align: center;
  margin: 0 auto;
  padding: 0rem;
  margin-top: 8rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 84.3%;
  color: white;
}
/*Copyrights ends*/
/*Timelapses Title starts*/
h2 {
  color: white;
  text-align: center;
  padding:1rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
/*Timelapses Title ends*/

.mainpage {
  margin-top:-3.8rem;
}

/*timelapses grid starts*/
.youtubevideos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px; 
    margin: auto;
    padding:9rem;
    width: 60%;
  }
/*timelapses grid ends*/
/*timelapses navigation bar starts*/
.navtime{
  margin-top:1rem;
  margin-right:10rem;
  margin-bottom:-4rem; 
}

.navtime{
  border: 0px solid black;
  margin-top:0rem;
  margin-right:6rem;
  width:75.4em;
  height:4rem;
  box-sizing: border-box;
}
.navtime ul {
  list-style-type:none;
  border:0px dotted blue;
  padding:0rem;
  margin-top:-2rem;
  width:75em;
  height:5em;
  box-sizing: border-box;
  
}
.navtime li {
  border: 3px solid white;
  background-color:#6A8DC2;
  text-align:center;
  margin-bottom:1rem;
  margin-top:2rem;
  margin-left:25.5em;
  margin-right: -9.2rem;
  padding:0;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  flex-basis: 10%;
}
.navtime a {
  border:5px white;
  width: 7.2em;
  height: 20px;
  color:white;
  font-weight:bold;
  text-decoration:none;
  display: block;
  padding: 0.2em;
}
.navtime a:hover {
  background-color: white;
  color:black;
}
/*timelapses navigation bar ends*/