body {
    background-color:#6A8DC2;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10rem;
    margin-right: 10rem;
}

    /*Header Starts here*/
header {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin-left: 11.9rem;
  margin-bottom: -4rem;
}


#demo-text { 
  font-size: 45px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
  border: 5px green;
	color: transparent;
	background-image: url(https://i.postimg.cc/ZqPNJCV8/textbackground.png);
  margin-left: 0rem;
  margin-bottom: -4rem;
  display: inline-block;
  
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  color: white;
  margin-left: 38rem;
  margin-bottom:0.5rem;
  margin-top: -2.0rem;

}
    /*Header End here*/
    /*Navigation Bar Start*/
nav ul {
    list-style-type:none;
    padding:0;
    margin:0.5rem auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
  }


  nav li {
    border:0px solid yellow;
    width:13rem;
    text-align:center;
    margin-bottom:0.5rem;
    display:inline-block;
    padding:0.5rem;
    
   
  }
  
    /*Navigation Bar End*/
    /*TBRL- "top""bottom"right"left"*/
    /*Navigation Bar Rising Stars Start*/
    .RS h1 {
      border:0px solid green;
      width:6.6%;
      margin-left:-3.5rem;
      margin-top:1rem;
      background-color:#F2C84B;
      font-size:20px;
      border-radius: 2px;
    }
    
    .RS ul {
      list-style-type: none;
      padding:0;
      margin:0.8rem;
      margin-left:-7.7rem;
      display:flex;
      flex-flow:row nowrap;
      justify-content:start;
      box-shadow: 3px 8px 9px 3px #B3C3F2;
      width:15.5%;
    }

    .RS a:hover {
      background-color: red;
    }
    li {
      border:0px solid blue;
      flex-basis: 1%;
    }
    /*Navigation Bar Rising Stars End*/
    
.timelapse img,.gaming img, .greenpi img  {
    padding: 0 0px 0px 0;
    float:left;
    border-radius: 1rem;

}

.description, .gaming1, .greenpi1 {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    width: 37%;
    margin-left:12em;
    margin-top: 1.8em;
    background-color: white;
    opacity: 0.7;
    border-radius: 0.3rem;
}
.wrapper {
  display: flex;
  grid-template-columns: 1fr;
  grid-column: 0;
  gap: 35px;  
  width: 80%;
  margin: 0 auto;
  margin-top: -12rem;
}

/*Timelapses Title starts*/
h2 {
  color: white;
  text-align: center;
  padding:1rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
/*Timelapses Title ends*/

.mainpage {
  margin-top:-3.8rem;
}

/*timelapses grid starts*/
.iframe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px; 
    margin: auto;
    padding:5rem;
    width: 60%;
  }
/*timelapses grid ends*/