body {
    background: url(./images/ferenc-horvath-skcFiBu91AA-unsplash.jpg) repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    text-align: center;
}


#timelapse img {
    width: 229px;
    height: 196px;
    padding: 0 30px 30px 0;
    float:left;

   
    
}

#description {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;

   

}

h2 {
   color: aqua; 
}

#gaming img {
    width: 229px;
    height: 196px;
    padding: 0 30px 30px 0;
    float:left;
    
}
#gaming {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}


#greenpi img {
    width: 229px;
    height: 196px;
    padding: 0 30px 30px 0;
    float:left;
}

#greenpi {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 0;
    gap: 10px;  
  }

.iframe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px; 
    place-self: center;
  }
